@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}


.glass {
    /* From https://css.glass */
    background: rgba(37, 34, 34, 0);
    border-radius: 0 0 10px 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.5px);
    -webkit-backdrop-filter: blur(3.5px);
    border-top: 1px solid rgba(37, 34, 34, 0.29);
}

.scroller{
    display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;

  
}

.card {
    flex: 0 0 auto;
  }

.bg-light{
  background-color: #e2e9f1;
}

.bg-dark{
  background-color: rgb(44, 43, 43);
}

.card-light{
  background-color: #fff;
  box-shadow: 0.1px 0.1px 1px  rgb(48, 48, 48);
}

.card-light2{
  background-color: #cccccc;
}

.card-dark{
  background-color: #000;
}